body {
    font-family: Arial, sans-serif;
    background-color: #FCECBB;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #222;
    margin-top: 40px;
    font-size: 36px;
}

.barrabusqueda {
    background-color: #333;
    padding: 10px;
}

.menu a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.curiosidades {
    border: 2px solid #444;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    background: linear-gradient(to bottom, #fff7d6, #f0d98c);
}

.curiosidades ul {
    list-style-type: disc;
    padding-left: 20px;
}

.curiosidades ul li {
    color: #222; /* Texto */
}

.curiosidades ul li::marker {
    color: green; /* Color de viñetas distinto al texto */
}

.volver {
    display: block;
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
    color: #333;
}

.volver:hover {
    text-decoration: underline;
}
