h1{
    color:black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center;
}

body {
  background-color: #FCECBB; /* Azul claro, puedes cambiarlo */
  margin: 0; /* Quita márgenes por defecto */
  height: 100vh; /* Asegura que cubra toda la altura de la pantalla */
}

.imagen_beatles{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  width: 85%;     /* Se ajusta al ancho del contenedor */
  height: auto;    /* Mantiene la proporción */
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


