body {
  background-color: #FCECBB;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  padding: 0 15px;
}

h2{
    text-align: center;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;

}