body {
  font-family: Arial, sans-serif;
  background-color: #FCECBB;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #222;
  margin-top: 40px;
  font-size: 36px;
}

a {
  text-decoration: none; /* Removes underline */
  color: #4B0082; /* Optional: set a nice purple color */
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s;
}